{
  "database": {
    "name": "",
    "password": "",
    "server": "",
    "user": ""
  },
  "isDevelopmentEnvironment": true,
  "port": 3000,
  "redis": {
    "host": "",
    "port": "",
  },
  "security": {
    "accessTokenPrivateKeyFilename": "accessTokenPrivate.pem",
    "accessTokenPublicKeyFilename": "accessTokenPublic.pem",
    "refreshTokenPrivateKeyFilename": "refreshTokenPrivate.pem",
    "refreshTokenPublicKeyFilename": "refreshTokenPublic.pem"
  }
}
